<%- include('include/head.ejs') %>
    <link href="/css/main.css" rel="stylesheet" />
  </head>

  <body>
    <header class="main-header">
      <%- include('include/navigation.ejs') %>
    </header>
    <h1>Page Not Found!</h1>
  </body>
</html>
